* {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'VT323', monospace;
}

body {
  background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
}